<!DOCTYPE html>
<html>

  {% include head.html %}

  <script src="/super-search.js"></script>
  <link rel="stylesheet" href="/super-search.css">

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <div class="super-search" id="js-super-search">
    <a href="javascript:void(0)" onclick="superSearch.toggle()" class="super-search__close-btn">X</a>
    <input type="text" placeholder="Type here to search" class="super-search__input" id="js-super-search__input">
    <ul class="super-search__results" id="js-super-search__results"></ul>
    </div>
    
    <script>
    superSearch({
      searchFile: '/feed.xml'
    });
    </script>
  </body>


</html>
